node_modules/
depends/test/data1/*
depends/test/data2/*
depends/test/data3/*
monitor_client/data/*
monitor_client/logs/*
transaction_client/data/*
transaction_client/logs/*
consensus_server/data/*
consensus_server/logs/*
update_server/data/*
update_server/logs/*
query_server/data/*
query_server/logs/*
block_chain_data/*