node_modules/
depends/test/data1/*
depends/test/data2/*
depends/test/data3/*
monitor_server/data/*
monitor_server/logs/*
transaction_server/data/*
transaction_server/logs/*
consensus_server/data/*
consensus_server/logs/*
query_server/data/*
query_server/logs/*
block_chain_data/*