node_modules/
depends/test/data/*
monitor_client/data/*
monitor_client/logs/*
transaction_client/data/*
transaction_client/logs/*
consensus_server/data/*
consensus_server/logs/*
query_server/data/*
query_server/logs/*