* {margin:0;padding:0;}
html,body {position:relative;height:100%;}
html {font-family:'Helvetica Neue',Tahoma,Arial,PingFangSC-Rerular,serif;-webkit-font-smoothing:antialiased;/* 抗锯齿渲染 */    -moz-osx-font-smoothing:grayscale;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;text-size-adjust:none;color:#333;user-select:none;font-size:13.33333vw;}
body {background-color:#fff;font-family:"微软雅黑",'Open Sans',sans-serif;font-size:14px;color:#000;margin:0;padding:0;}
a {cursor:pointer;outline:0;color:#444;text-decoration:none;}
a:focus,a:hover {text-decoration:none;color:#e0110f;}
a:focus {outline:none;}
ul,li,ol {margin:0;padding:0;list-style:none;}
h1,h2,h3,h4,h5,h6 {text-align:center;}
h1{font-size: 32px;height: 80px;line-height: 80px;}
.container {padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
@media (min-width:768px) {.container {width:750px;}
}
@media (min-width:992px) {.container {width:970px;}
}
@media (min-width:1200px) {.container {width:1170px;}
}
header {font-size:28px;text-align:center;padding:20px;}
button {background-color:#409eff;color:#fff;padding:10px 20px;border-radius:4px;border:none;margin:0 10px;cursor:pointer;}
button:hover {background-color:#66b1ff;}
input {-webkit-appearance:none;background-color:#fff;background-image:none;border-radius:4px;border:1px solid #dcdfe6;box-sizing:border-box;color:#606266;display:inline-block;font-size:inherit;height:40px;line-height:40px;outline:none;padding:0 15px;transition:border-color 0.2s cubic-bezier(0.645,0.045,0.355,1);}
input:focus {outline:none;border-color:#409EFF;}
.from,.to,.value,.tHash {padding:0 10px;align-items:center;margin:20px 0;}
.from>span,.to>span,.value>span,.transactionHash>span,.tHash>span {width: 100%;text-align: left;font-size: 16px;display: block;margin: 10px;}
.from>input,.to>input,.value>input,.transactionHash>input,.tHash>input {width:100%;}
#fromHistory::-webkit-scrollbar,#toHistory::-webkit-scrollbar {/*滚动条整体样式*/        width:11px;/*高宽分别对应横竖滚动条的尺寸*/        height:1px;}
#fromHistory::-webkit-scrollbar-thumb,#toHistory::-webkit-scrollbar-thumb {/*滚动条里面小方块*/        border-radius:10px;-webkit-box-shadow:inset 0 0 5px rgba(144,147,153,.3);background:rgba(144,147,153,.3);}
#fromHistory::-webkit-scrollbar-track,#toHistory::-webkit-scrollbar-track {/*滚动条里面轨道*/        -webkit-box-shadow:inset 0 0 5px rgba(144,147,153,.3);border-radius:10px;background:#fff;}
#fromHistory,#toHistory {width:100%;height:80%;overflow:auto;}
#fromHistory>li,#toHistory>li{margin-top:15px;}
#fromHistory>li>p,#toHistory>li>p{margin:5px 0 10px;}
.recipientRecord {margin:20px 0;}
.current_node {padding:20px 0;}
.current_node>p {font-size:18px;font-weight:bold;}
.node_list {overflow: hidden; padding:20px;border:1px solid #ddd;margin-bottom:20px;}
.node_list>span {font-size:18px;}
.node_list>ul>li {font-size:16px;margin:30px 0;height:140px;padding-top:20px;position:relative;}
.senderRecord,.recipientRecord {height:300px;width:90%;padding:0 20px;border:1px solid #ddd;}
.senderRecord>span,.recipientRecord>span {font-size:18px;height:38px;line-height:38px;padding-right:20px;}
.senderRecord>ul li,.recipientRecord>ul li {list-style:none;}
.input_list,.transactionHash {width:100%;text-align:right;margin-bottom:50px;}
.input_list>button:nth-child(4) {background-color:#fff;border:1px solid #409eff;color:#409eff;}
.input_list>button:nth-child(4):hover {background-color:#409eff;color:#fff;}
/* .input_list>button:last-child {background-color:#ba1a12;}
.input_list>button:last-child:hover {background-color:red;} */
.main_left {width:48%;float:left;}
.main_right {width:50%;float:right;padding:30px 10px; border:1px solid #ddd;}
.obtain1,.obtain2{background-color: #fff;border:1px solid #409eff;color:#409eff;padding:4px 10px;}
.obtain1:hover,.obtain2:hover{background-color:#409eff;color:#fff;}
.chain {position:relative;}
.chain_text{width:130px;height:40px;line-height:40px;border: 1px solid #eee;padding:10px; position:absolute;bottom:-90px;left:-60px;color:#333;}
.chain_text:before{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 65px;
    top: -10px;
    border-bottom: 9px solid #eee;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
}
.chain_text:after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 66px;
    top: -8px;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.chain li {width:30px;height:30px;line-height:30px;background-color:#fff;border:4px solid #eee; position:absolute;top:20px;left:-180px;color:#fff;text-align:center;border-radius:50%;display:inline-block;}
/* .chain li:nth-child(1) {left:20px;}
.chain li:nth-child(2) {left:140px;}
.chain li:nth-child(3) {left:260px;}
.chain li:nth-child(4) {left:380px;}
*/
.chain li span {display:block;height:20px;line-height:20px;}
.chain:after{content:'';width:72%;height:6px;position:absolute;top:35px;left:5%;border-radius:4px;background-color:#eee;z-index:-2;}
.chain:before{content:'';width:0;height:6px;position:absolute;top:35px;left:5%;border-radius:4px;background-color:#409eff;z-index:-1;opacity:0.9;}
.chain:before{animation:mymoveL 3s linear alternate;-moz-animation:mymoveL 3s linear alternate;/*  Firefox */-webkit-animation:mymoveL 3s linear alternate;/*   Safari 和 Chrome */-o-animation:mymoveL 3s linear alternate;/*  Opera */animation-fill-mode:forwards;}
.chain li:nth-child(1) {animation:mymove1 0.6s linear alternate;-moz-animation:mymove1 0.6s linear alternate;/*  Firefox */-webkit-animation:mymove1 0.6s linear alternate;/*   Safari 和 Chrome */-o-animation:mymove1 0.6s linear alternate;/*  Opera */animation-fill-mode:forwards;}
.chain li:nth-child(2) {animation:mymove2 0.7s 0.6s linear alternate;-moz-animation:mymove2 0.7s 0.6s linear alternate;/*  Firefox */-webkit-animation:mymove2 0.7s 0.6s linear alternate;/*   Safari 和 Chrome */-o-animation:mymove2 0.7s 0.6s linear alternate;/*  Opera */animation-fill-mode:forwards;}
.chain li:nth-child(3) {animation:mymove3 0.8s 1.2s linear alternate;-moz-animation:mymove3 0.8s 1.2s linear alternate;/*  Firefox */-webkit-animation:mymove3 0.8s 1.2s linear alternate;/*   Safari 和 Chrome */-o-animation:mymove3 0.8s 1.2s linear alternate;/*  Opera */animation-fill-mode:forwards;}
.chain li:nth-child(4) {animation:mymove4 0.9s 1.8s linear alternate;-moz-animation:mymove4 0.9s 1.8s linear alternate;/*  Firefox */-webkit-animation:mymove4 0.9s 1.8s linear alternate;/*   Safari 和 Chrome */-o-animation:mymove4 0.9s 1.8s linear alternate;/*  Opera */animation-fill-mode:forwards;}
.chain li:last-child {animation:myop 2s linear infinite alternate;-moz-animation:myop 2s linear infinite alternate;/*  Firefox */-webkit-animation:myop 2s linear infinite alternate;/*   Safari 和 Chrome */-o-animation:myop 2s linear infinite alternate;/*  Opera */animation-fill-mode:forwards;}
@keyframes mymoveL {from {width:0%;}
to {width:72%;}
}
@-webkit-keyframes mymoveL /* Safari and Chrome */ {from {width:0%;}
to {width:72%;}
}
@keyframes mymove1 {from {left:-180px;}
to {left:100px;}
}
@-webkit-keyframes mymove1 /* Safari and Chrome */ {from {left:-180px;}
to {left:100px;}
}
@keyframes mymove2 {from {left:-180px;}
to {left:300px;}
}
@-webkit-keyframes mymove2 /* Safari and Chrome */ {from {left:-180px;}
to {left:300px;}
}
@keyframes mymove3 {from {left:-180px;}
to {left:500px;}
}
@-webkit-keyframes mymove3 /* Safari and Chrome */ {from {left:-180px;}
to {left:500px;}
}
@keyframes mymove4 {from {left:-180px;}
to {left:700px;}
}
@-webkit-keyframes mymove4 /* Safari and Chrome */ {from {left:-180px;}
to {left:700px;}
}
@keyframes myop {from {opacity:0.5;}
to {opacity:1;}
}
@-webkit-keyframes myop /* Safari and Chrome */ {from {opacity:0.5;}
to {opacity:1;}
}
@keyframes mygeneration {from {opacity:0;}
to {opacity:1;}
}
@-webkit-keyframes mygeneration /* Safari and Chrome */ {from {opacity:0;}
to {opacity:1;}
}

/************ loading圈圈圈样式 ************/
.generation {
    position: absolute;
    line-height:120px;
    top:30px;
    right:15%;
    animation:mygeneration 6s linear alternate;-moz-animation:mygeneration 6s linear alternate;/*  Firefox */-webkit-animation:mygeneration 6s linear alternate;/*   Safari 和 Chrome */-o-animation:mygeneration 6s linear alternate;/*  Opera */animation-fill-mode:forwards;
}
.generation > span{
    width:100px;height:100px;
    position: absolute;
    top:0;
    left:-30px;
}
.generation > i{
    position:absolute;
    width:15px;
    height:15px;
    background-color:#b3d8ff;
    border-radius:50%;
}
.generation > i:nth-of-type(1){
    top:25px;
    left:0;
    animation:loading-5 1s ease 0s infinite;
}
.generation > i:nth-of-type(2){
    top:17px;
    left:17px;
    animation:loading-5 1s ease -.12s infinite;
}
.generation > i:nth-of-type(3){
    top:0;
    left:25px;
    animation:loading-5 1s ease -.24s infinite;
}
.generation > i:nth-of-type(4){
    top:-17px;
    left:17px;
    animation:loading-5 1s ease -.36s infinite;
}
.generation > i:nth-of-type(5){
    top:-25px;
    left:0;
    animation:loading-5 1s ease -.48s infinite;
}
.generation > i:nth-of-type(6){
    top:-17px;
    left:-17px;
    animation:loading-5 1s ease -.6s infinite;
}
.generation > i:nth-of-type(7){
    top:0;
    left:-25px;
    animation:loading-5 1s ease -.72s infinite;
}
.generation > i:nth-of-type(8){
    top:17px;
    left:-17px;
    animation:loading-5 1s ease -.84s infinite;
}
@keyframes loading-5{
    50%{
        transform:scale(.4);
        opacity:.5;
    }
    100%{
        transform:scale(1);
        opacity:1;
    }
}